form.query_form {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid grey;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
}

#send_button {
    border: 0;
    padding: 1.1rem;
    margin: 1rem 0;
    color: #fff;
    font: 1rem 'Fira Sans', sans-serif;
    background-color: #2a8aff;
    border-radius: 10px;
    width: 90px;
}

#send_button:hover {
    background-color: #0069da;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    padding: 0.5rem 0;
}

input, textarea {
    padding: 0.25rem;
}

dt {
    font: 1rem 'Fira Sans', sans-serif;
    padding: 0.5rem 0;
}

select {
    width: 5.3em;
    height: 2.7em;
}

query_form.flex-itm {
    flex-direction: row;
}

dl.row {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid grey;
    padding: 2rem;
}